.num {
  display: inline-block;
  width: 100%;
}

.name-content {
  width: 100%;
}

.contact {
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}

.name-num {
	display: inline-block;
	vertical-align: middle;
}

img {
	padding: 0px 10px 10px 0px;
	vertical-align: top;
	display: inline-block;
	color: #CCC;
}

.name {
	font-size: 18px;
}

