.text {
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
  margin-right: 10px;
  margin-left: 10px;
}

.voice-listening {
	vertical-align: top;
	display: inline-block;
	padding: 15px;
	border: 1px solid #666;
	border-radius: 5px;
	margin-left: 15px;
}

.voice-recording {
	position: absolute;
	bottom: 80px;
	right: 15px;
}

.underlined {
	position: absolute;
	bottom: 70px;
	right: 40px;
	text-decoration: underline;
}

.text p {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 70px);
	margin-bottom: 0;
}

label {
	bottom: 10px;
	left: 10px;
	position: absolute;
	font-weight: 300;
}

.comment {
  display: block;
  margin: 0 auto 0;
  width: 300px;
  height: 60px;
  border-radius: 5px;
  border:1px solid #ccc;
}

.btn-disabled {
	background: #CCC;
	border: #CCC;
	position: absolute;
	bottom: 15px;
	right: 5px;
	width: 80px;
}


