:host {
  display: block;
  min-height: 100vh;
  background-color: #FF6900;
}

.page-content {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 30px 50px 30px;
}

.login-page {
  display: block;
  width: 100vw;
  background-color: #FF6900;
}

label {
  display: block;
  color: #fff;
  font-weight: 300;
  margin-bottom: 30px;
}

label span {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border:none;
  color: black;
}

h1 {
	margin: 0 0 20px 0;
}

button {
	width: 100%;
}

.banner-image {
  height: 200px;
  background-image: url('/assets/images/login-image.jpg');
  background-size: cover;
}

@media (min-width: 768px) {

  .banner-image {
    height: 310px;
  }

}
